.login-container {
  min-height: 100vh;
  background-color: #f8f9fa;
  padding: 2rem;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 12px;
  background-color: #fff;

  .logo-up{
     background: #3f382f;
    border-radius:  50px;
    width: 60px;
    margin-bottom: 0.5rem;
  }

  .form-label {
    font-weight: 500;
  }

  .form-control {
    &:focus {
      box-shadow: none;
      border-color: #0d6efd;
    }
  }

  .btn-primary {
    font-weight: 500;
  }

  .btn-outline-secondary {
  font-weight: 500;
  gap: 0.5rem;

  &:hover {
    background-color: #f1f1f1;
  }

  &:focus,
  &:active,
  &:focus-visible {
    outline: none !important;
    box-shadow: none !important;
    border-color: #ced4da !important;
  }

  &:focus:not(:focus-visible) {
    outline: none !important;
  }
}

  .google-logo{
    width: 15rem;
    height: 2rem;
  }

  .text-sm {
    font-size: 0.875rem;
  }

  .password-wrapper {
  position: relative;

  .toggle-password {
    position: absolute;
    top: 72%;
    right: 0.1rem;
    transform: translateY(-50%);
    background: rgb(3, 83, 103);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.4rem;
    color: #6c757d;
    z-index: 2;

    &:focus {
      outline: none;
    }
  }

  .form-control {
    padding-right: 2.5rem; // give space for icon
  }
}

}
